.styleTable{
    display: flex;
    
}
.styleTable div {
    border: 1px solid black;
    min-width: 111px;
    overflow: auto;
    height: 30px;
    margin: 1px;
    text-align: center;
    padding-top: 5px;
}
.destvie3, .destvie4{
    width: 226px;
}
.otvet3, .otvet4{
    width: 226px;
}